/* /////////////////////// */
/* /////// Resets //////// */
/* /////////////////////// */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1a1a1d;
}

a:hover {
  color: #45a29e;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("../img/teal_flamingos_pool.jpg");
  background-size: cover;
  color: #cdcdcd;
  font-family: "Fira Sans", sans-serif;
}


/* //////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////
///////////////////////////// GRID //////////////////////////////
/////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////// */

.grid-container div {
  color: #eee;
  font-size: 1.4em;
  font-weight: 900;
  padding: 20px;
}

.grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header"
    "sidebar content content"
    "footer footer footer";
}

header {
  grid-area: header;
  grid-column-end: 3;
  image: absolute;
  width: auto;
  height: 100px;
}

/* /////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
/////////////////////////// MENU ////////////////////////////////
/////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////// */

#page-nav {
  width: 100%;
  background: rgba(26, 26, 29, 0.9);
  position: sticky;
  top: 0;
}

#page-nav label,
#hamburger {
  display: none;
}

#page-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#page-nav ul li {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}
#page-nav ul li a {
  color: #c5c6c7;
  text-decoration: none;
}

@media screen and (max-width: 760px) {
  #page-nav label {
    display: inline-block;
    color: #c5c6c7;
    background: #6f2232;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  #page-nav ul li {
    display: block;
  }
  #page-nav ul li {
    border-top: 1px solid #45a29e;
  }

  #page-nav ul {
    display: none;
  }
  #page-nav input:checked ~ ul {
    display: block;
  }

  body {
    margin: 0;
    padding: 0;
    background-image: url("../img/teal_flamingos_pool.jpg");
    background-size: 250%;

}
