/* /////////////////////// */
/* /////// Resets //////// */
/* /////////////////////// */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1a1a1d;
}

a:hover {
  color: #45a29e;
}

body {
  color: #cdcdcd;
  font-family: "Fira Sans", sans-serif;
  background-image: url("../img/teal_background_strokes.jpg");
  background-size: cover;
}

/* /////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////
  /////////////////////////// MENU ////////////////////////////////
  /////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////// */

#menuToggle {
  display: block;
  position: absolute;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #c5c6c7;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #4e4e50;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: relative;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: rgba(255, 255, 255, 0.8);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

/* /////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////
  /////////////////////////// BODY ////////////////////////////////
  /////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////// */

div.item {
  background: rgba(111, 34, 50, 0.8);
  padding: 20px;
  font-size: 1.2em;
  font-weight: 900;
  color: #eee;
  font-family: "Fira Sans", sans-serif;
}

.grid-container {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "banner"
    "main"
    "sidebar"
    "footer";
}

.item-1,
div.logo-header {
  grid-area: header;
  grid-column-end: span;
  -ms-grid-column-align: end;
}

.item-4 {
  grid-area: footer;
  grid-auto-columns: auto;
  grid-column: span;
  align-items: stretch;
}

.footer-icons,
a {
  grid-area: footer;
  align-items: stretch;
  /* color: #cdcdcd; */
}

@media screen and (min-width: 760px) {
  .grid-container {
    grid-template-areas:
      "header header header"
      "main main sidebar"
      "footer footer footer";
  }
  .item-1 {
    grid-area: header;
    justify-content: right;
  }
  .item-2 {
    grid-area: main;
  }
  .item-3 {
    grid-area: sidebar;
  }

  .item-4 {
    grid-area: footer;
    justify-items: center;
  }

  .footer-icons {
    grid-area: footer;
    justify-items: center;
  }

  /* .item-5 {
    grid-area: footer;
    justify-self: center;
  }

  .item-6 {
    grid-area: footer;
    justify-self: end;
  } */
}
@media screen and (min-width: 900px) {
  .grid-container {
    grid-template-areas:
      "header header header header"
      "main main main sidebar "
      "footer footer footer footer ";
  }
}
